BREVO_API_KEY=coloque_sua_chave_brevo_aqui
BREVO_SENDER_NAME=Congresso Pai Eterno
BREVO_SENDER_EMAIL=inscricoes@congressopaieterno.com.br

INSCRICAO_EMAIL_DESTINO=inscricoes@congressopaieterno.com.br
INSCRICAO_EMAIL_COPIA=congressopaternidadededeus@gmail.com
INSCRICAO_EMAIL_BACKUP=congressopaternidadededeus@gmail.com

NEXT_PUBLIC_HOTMART_CHECKOUT_URL=https://pay.hotmart.com/J106565086L?off=kxryq3he&checkoutMode=10
